<div id="admin_sidebar" class="large-2 columns hide-for-small">
	<div class="large-12 columns">
    <ul class="side-nav">
      <h5>Quick Menu</h5>
      <li class="divider"></li>
      <li> <%= link_to "Equipments", items_path %></li>
      <li class="divider"></li>
      <li> <%= link_to "Parts", "#" %></li>
      <li class="divider"></li>
      <li> <%= link_to "Consumables", "#" %></li>
      <!-- <li class="divider"></li>
      <li><%= link_to "Accomodation", "#" %></li>
      <li class="divider"></li>
      <li> <%= link_to "Finance", "#" %></li>
      <li class="divider"></li>
      <li><%= link_to "Communications", "#" %></li>
      <li class="divider"></li>
      <li> <%= link_to "Reports & Forms", "#" %></li>
      <li class="divider"></li>
      <li> <%= link_to "Specials", "#" %></a></li>
      <li class="divider"></li>
      <li><%= link_to "Forecasting", "#" %></li> -->
    </ul>
  </div>
</div>