<div class="navi2 right">
	<% if user_signed_in? %>
  <ul class="right">
       <li class="has-dropdown"><a href="#">Logged in as <%= current_user.email %>.</a>
       <ul class="dropdown">
       	<li> <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %></li>
       	<li> <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %></li>
       		</li>
 		</ul>
 
<% else %>
  <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
  <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
<% end %>
</div>